h4 {
    color: white;
    font-weight: bold;
}

p {
    color: white;
    font-weight: bold;
}

img {
    height: 500px;
    object-fit: cover;
}

.carousel-caption .caption-text {
    position: absolute;
    top: -255px;
    background-color: rgba(0, 0, 0, 0.533);
    padding: 20px;
}