.search {
    min-height: 200px;
    background-color: var(--main-second-color);
}
#externa {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
#externa2 {
    align-items: initial;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
#interna {
    width: 900px;
    height: 800px;
}