.list-item {
    /* display: flex; */
    align-items: center;
    color: #A6ACBE;
}
.bullet {
    font-size: 1.8em;
}

.list-number .span- {
    color: black;
    font-weight: bold;
}
.list-number label {
    color: #A6ACBE;
}

@media (max-width: 380px) {
  .list-item, .list-number {
    font-size: 0.77rem;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .list-item, .list-number {
    font-size: 0.8rem;
  }
}