<div class="row">
  <div class="col-7 pr-0">
    <div class="list-item" *ngFor="let element of listElement, let i = index">
      <label class="mr-1" [style.color]="bulletColor[i]">&#8226;</label>
      <label class="">{{element}} </label>
    </div>
  </div>
  <div class="col-2 pr-0 pl-0 text-right">
    <div class="list-number" *ngFor="let animal of numberAnimals ">
      <label class="span-">{{animal}} </label>
    </div>
  </div>
  <div class="col-3 pl-0 pr-0 text-center">
    <div class="list-number" *ngFor="let perc of percentage ">
      <label class="">({{perc}}%)</label>
    </div>
  </div>

</div>