:root {
    --main-color: #83DB12;
    --main-second-color:#189CA1;
    --main-auxiliary-color:#5EC6C9;
    --main-nav-color: #232323;
    --main-orange-color:#DB4E12;
    --main-gray-color:#C4C4C4;
  }
  