<div [formGroup]="formGroup">
    <div class="form-group color-fonts-form ">
        <label for="inputName">{{titulo}}</label>
        <input class="form-control color-fonts-form" [type]="tipo" [id]="idInput" [placeholder]="placeholderInput" [name]="controlName" [formControlName]="controlName">
        <label class="text-danger fonte-erros-inputs" *ngIf="validacaoInputsService.fieldHasError(formControl, 'required')">Campo obrigatório</label>
        <label class="text-danger fonte-erros-inputs" *ngIf="validacaoInputsService.fieldHasError(formControl, 'email')">Email inválido</label>
        <label class="text-danger fonte-erros-inputs" *ngIf="validacaoInputsService.fieldHasError(formControl, 'minlength')">
            Campo precisa ter no mínimo {{validacaoInputsService.validateLength(formControl, 'minlength')}} caracteres
        </label>
        <label class="text-danger fonte-erros-inputs" *ngIf="validacaoInputsService.fieldHasError(formControl, 'maxlength')">
            Campo pode ter no máximo {{validacaoInputsService.validateLength(formControl, 'maxlength')}} caracteres 
        </label>
    </div>
</div>