.navbar-default {
    background-color: #232323;
    color: FFF;
    text-transform: uppercase;

}

.logo {
    width: 46px;
}

.navbar-default li:hover{
    background-color: #000;

}
.btn-default{


    background-color: var(--main-color);
    border: 1px var(--main-color) solid ;
}