p {
    color: var(--main-orange-color);
    font-size: 15px;
}

 .img {
    background-image: url(../../../../../../assets/images/login.jpg);
   height: 100vh;
 }

@media only screen and (max-width: 767px) {
    .img {
        background-image: url(../../../../../../assets/images/login3.jpg);
        height: 100vh;
    }
}

/* .img {
    background-image: url(../../../../../../assets/images/login.jpg);
    height: calc(100vh - 150px);
    background-size: 100%;
    background-repeat: no-repeat;
} */


