
.dot {
  height: 25px;
  width: 25px;
  background-color: #979797;
  border-radius: 50%;
  
}
    .active {
      background-color: #77CE32;
    
    }

.div2 {
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.div2 p {
  color: #979797;
  font-size: 0.7em;
  text-align: center;
}

.timeline-container {
  display: flex;
  flex-direction: row;
}

hr {
  background-color: black;
  width: 20%;
}