<div class="card ">
    <div class="row no-gutters" >
        <div class="col-sm-4">
            <img src="../../../../assets/images/gato-cinza-sentado.jpg" class="card-img mt-2" alt="Caixa com depoimento do usuário">
        </div>
        <div class="col-sm-8">
            <div class="card-body">
                <div class="row ml-1">
                    <h2 class="card-title" style="font-weight: bold;">  Nossa história </h2>
                </div>
            </div>
        </div>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum molestiae ullam omnis deleniti consectetur iusto optio, consequuntur expedita 
            veritatis placeat porro eos ea alias voluptatibus laborum recusandae aliquam soluta autem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel delectus id qui! Possimus iste sunt mollitia commodi qui,
             animi repudiandae, voluptatum dignissimos deserunt, id ipsum pariatur sapiente ratione error quidem!</p>
    </div>
</div>