.img-user {
  width: 60px;
  border-radius: 50%;
}

.align {
  float: right;
}

a{
  color: #334D6E;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #189CA1;
}

.color-icon-gray{
  /* color: #b1b6bd; */
  /* fill: #da2a7c; */
 
}

.color-name-user {
  color: #192A3E;
}









.wrapper {
  display: block;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 91.1vh;
  position: fixed;
  bottom: 0;
  left: 0;
  /* top layer */
  z-index: 9999;
  background-color: #f8f6f6;

}

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* camada do meio, ou seja, aparece abaixo da barra lateral */
  z-index: 998;
  opacity: 0;
  /* animar a transição */
  transition: all 0.5s ease-in-out;
}

/* exibir .overlay quando tiver a classe .active */
.overlay.active {
  display: block;
  opacity: 1;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  /* canto superior direito da barra lateral*/
  top: 10px;
  right: 10px;
}