.img-user {
  
  width: 40px;
  border-radius: 50%;
}

.align {
  float: right;
}

a {
  color: #334D6E;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #189CA1;
}

.color-icon-gray {
  color: #777070;
  /* fill: #da2a7c; */

}
.color-name-user{
  display: none;
}

#sidebar:hover .color-name-user {
  display: block;
  color: #192A3E;
}

h3 {
  color: #189CA1;
}

/* .wrapper {
  display: block;
} */

#sidebar {
  /* min-width: 200px; */
  width:70px;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(199, 201, 201, 0.534);
  padding-top: 5rem;
  z-index: 2;
}

#sidebar:hover{
  width:205px;  
}

#sidebar:hover.img-user {
  width: 40px;
  border-radius: 50%;
}
#sidebar:hover span{
  display: inline-block;
}

#sidebar span{
  display: none;
}
.width-title {

  width: 150px;
  display: none;
}

#sidebar:hover  .width-title {
display: block;
}
#sidebar.user{
  /* background-color: var(--main-second-color); */
}