<!-- <app-grafico-rosquinha></app-grafico-rosquinha> -->
<!-- <button  class="btn btn-primary" routerLink='/admin'>Admin</button>
<app-input-combobox></app-input-combobox> -->

<!-- <router-outlet></router-outlet> -->


<!-- <app-card-totalizador></app-card-totalizador> -->

<app-grafico-barras [barChartData]="meuBarChartData" [barChartLabels]="meuBarChartLabels"></app-grafico-barras>

<!-- <app-sidebar></app-sidebar>

<app-card-depoimento [caminhoImgCard]="caminhoImg" [nome]="nome" [depoimento]="depoi" nomeIcon1="fa fa-pencil-square-o" nomeIcon2="fa fa-trash-o"></app-card-depoimento>
<app-footer></app-footer> -->


<!-- <app-animal-create></app-animal-create> -->

