.box {
  margin-top: 85px;
}

.dash {
  background-color: var(--main-second-color);
  max-width: 60px;
  min-height: 100vh;
}

.marg-l {
  margin-left: 0 !important;
  padding-left: 0;
}

@media (max-width: 768px) {
  .dash {
    display: none;
  }
  .marg-l {
    padding-left: 15px;
  }

}


