<div id="card-incentivo" class="p-5">
  <h3 class="text-center mb-4">POR QUE ADOTAR?</h3>
  <p class="text-justify">
  Adotar é um gesto de amor, carinho e responsabilidade. Além de proporcionar uma nova vida para o pet, você ganhará um
  novo amigo, que nenhum dinheiro é capaz de comprar.
  Animais vindos de uma abrigo trazem consigo uma história que nem sempre é fácil. Ainda assim, nada supera o olhar de um
  animalzinho ao saber que tem um novo lar, quentinho e seguro. Junte-se à nossa causa, adote uma de nossas patinhas e
  veja como os seus dias se tornarão mais alegres!
  </p>
</div>
