/* You can add global styles to this file, and also import other style files */

.fonte-erros-inputs {
    font-size: 0.8rem !important;
}
*{
    font-family: 'Roboto', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.color-fonts-form{
    color: #6D6B6B;
}

.form-control{
    background-color: #F1F1F1;
    /* box-shadow: 0px 0px 10px 0px #F1F1F1 */
}

.card {
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.082);
    border-radius: 20px;
}

.card-header {

}
