<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <div class="row ">
                    <!-- <app-card-timeline></app-card-timeline> -->
                </div>
               <div class="row justify-content-center">
                <app-button-b [nomeBotao]="nomeBotao"></app-button-b>
               </div>
            </div>
            <div class="col-6">
                <img [src]="caminhoImg" class="card-img-top p-4" alt="Imagem de animal">
            </div>
        </div>
    </div>
</div>
