/* .card {
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
} */

.name {
  color: #A6ACBE;
}

.red>i {
  color: red;
  font-size: 20px;
}

.green>i {
  background-color: rgba(120, 206, 50, 0.219);
  border-radius: 50px;
  padding: 20px;
  color: #77CE32;
  font-size: 20px;
}

.blue>i {
  background-color: #189ca132;
  border-radius: 50px;
  padding: 20px;
  color: #189CA1;
  font-size: 20px;
}

.display-5 {
  font-size: 2.5rem;
}
