<div class="container" *ngIf="objetosListados.length > 0">
  <!-- <div class="text-right">
    <app-button-g nomeBotao="Adicionar" routerLink="{{rLink}}" display="none"></app-button-g>
  </div> -->
  <form>
    <div class="form-group form-inline float-left">
      <i id="lupa" class="ml-2 fa fa-search"> <input [(ngModel)]="filter" class="form-control ml-2" type="text" placeholder="Procurar" name="search" /></i>
    </div>
    
  </form>

  <div class="float-right">
    <label for="filtrar"><i class="fa fa-filter mr-2"></i></label>

    <select id="filtrar" class="custom-select" [(ngModel)]="selectedBrand" (change)="valueSelected()">
      <option>Todos</option>
      <option *ngFor="let item of selectHeaders()">{{item}}</option>
    </select>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let header of listarHeaders()" scope="col">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let objeto of objetosFiltrados | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td *ngFor="let elemento of listarElementos(objeto)">
            <span 
            [ngClass]="{
            'badge badge-pill badge-primary': selectHeaders().includes(elemento)
            }"
            [style.background]="selectItems[elemento]" class="comprimento">{{elemento}}
            </span>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <!-- <ngb-pagination
      [page]="page"
      [pageSize]="pageSize"
      [collectionSize]="collectionSize">
    </ngb-pagination> -->
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
      [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
